$border-radius: 12px;
$max-width: 1100px;
$font-family1: 'Matter', sans-serif;
$font-family2: 'MatterSQ', sans-serif;

$offWhite: hsla(40, 50%, 95%, 1);
$black: hsla(60, 4%, 11%, 1);
$navHeight: 242px;



$fontColorBlack: #1E1E1C;
$margin: clamp(1rem, 5vw, 5rem);
$radius: 100px;

%hoverText {
  transition: all .125s ease-in-out;
  letter-spacing: 2px;
  text-decoration: underline solid transparent;
  text-decoration-thickness: 2px;

  &:hover {
    text-decoration: underline solid black;
    text-decoration-thickness: 2px;
  }
}


// Radix Colors //

$sand1: hsl(61, 2.0%, 8.3%);
$sand2: hsl(60, 3.7%, 10.6%);
$sand3: hsl(58, 3.7%, 13.1%);
$sand4: hsl(57, 3.6%, 15.3%);
$sand5: hsl(56, 3.7%, 17.4%);
$sand6: hsl(55, 3.7%, 19.9%);
$sand7: hsl(53, 3.7%, 23.6%);
$sand8: hsl(50, 3.8%, 30.6%);
$sand9: hsl(50, 4.0%, 42.7%);
$sand10: hsl(52, 3.1%, 48.3%);
$sand11: hsl(50, 4.0%, 61.8%);
$sand12: hsl(56, 4.0%, 92.8%);