@import 'vars';

.Content {
  // flex-grow: 2;
  // position: relative;
  // background: $backgroundWhite;
  // margin-top: calc(#{$margin} * 3);
  // overflow-x: scroll;

  border-radius: 1px;
  border-top-right-radius: $radius;
  border-bottom-left-radius: $radius;
  overflow: hidden;
  background-color: $sand2;
  border: 2px solid $sand3;
  // background-image: url('/images/logos.png');
  // background-repeat: no-repeat;
  // background-position: right $margin bottom $margin;
  // background-size: clamp(300px, 45vw, 600px);

  // >div {
  //   display: flex;
  //   // position: absolute;
  //   height: 100%;
  //   // width: 100%;
  // }

  img {
    object-fit: "cover";
    z-index: 1;
  }
}

.Menu {
  // @media screen {
  // @media (max-width: 800px) {
  display: none;
  // }
  // }
}

.MobileMenu {
  // @media screen {
  // @media (min-width: 800px) {
  display: none;
  // }
  // }

  >div {
    padding: 1rem;
    cursor: pointer;
  }
}

.MenuInner {
  padding: 1rem !important;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  li {
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0 1rem;
    cursor: pointer;
    @extend %hoverText;

    svg {
      position: relative;
      top: 1px;
      margin-left: 1ex;
    }
  }
}

.MenuInnerMobile {
  padding: 1rem;
  list-style: none;
  padding-left: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;

  li {
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0 1rem;
    cursor: pointer;
    @extend %hoverText;
    text-align: center;

    svg {
      position: relative;
      top: 1px;
      margin-left: 1ex;
    }
  }
}

.ContentMedia {
  width: 100%;
  height: 100%;
  position: relative;
}