@import "vars";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $font-family1, $font-family2 !important;
}

html,
body {
  max-width: 100vw;
  font-family: $font-family1 !important;
  background: $offWhite;
}

main {
  min-height: 100vh;
  width: 100vw;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-family1 !important;
  font-weight: normal;
  font-weight: 400;
  line-height: 1.3;
  margin: none;
  letter-spacing: 1px;
  color: $black;
}

h1 {
  font-size: clamp(1.602rem, 6vw, 2.488rem);
}

h2 {
  font-size: clamp(1.502rem, 5vw, 2.074rem);
}

h3 {
  font-size: clamp(1.424rem, 4vw, 1.728rem);
}

h4 {
  font-size: clamp(1.266rem, 3vw, 1.44rem);
}

h5 {
  font-size: clamp(1.125rem, 2vw, 1.2rem);
}

p,
a {
  font-size: clamp(.98rem, 2vw, 1.1rem);
}

small,
.text_small {
  font-size: clap(0.75rem, 0.5vw, 0.833rem);
  text-transform: uppercase !important;
  font-weight: bold;
  letter-spacing: 2px;
}

a {
  color: inherit;
  text-decoration: none;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
// }