@import "vars";

$contentWidth: calc(100vw - calc(4 * #{$margin}));

%contentBlock {
  background: $sand3;
  color: $sand12;
  padding: calc($margin/2);
  border-radius: 1.5rem;
  min-width: 300px;
  max-width: calc($margin*8);
  border: 2px solid $sand6;
  display: inline-block;
  box-sizing: content-box;

  &:hover {
    // background: $sand4;
    // border: 2px solid $sand8;
  }
}

.Info {
  flex-grow: 1;
  overflow: hidden;
  padding: $margin;

  .TopRow {
    display: grid;
    grid-template-rows: 150px auto;
    grid-row-gap: calc($margin/2);
    @extend %contentBlock;
  }

  .MiddleRow {
    @extend %contentBlock;
    max-width: calc($margin*6);
  }

  .BottomRow {
    @extend %contentBlock;
    max-width: calc($margin*6);
  }

  display: grid;
  grid-gap: 1rem;

  @media (min-width: 851px) {
    grid-template-columns: calc($margin*8) repeat(auto-fit, calc($margin*6));
    grid-template-rows: auto;
    align-items: start;
  }

  @media (max-width: 850px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;

    >div {
      max-width: calc($margin*8) !important;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: .5rem 0;
      line-height: 1.25;
    }
  }

  hr {
    background-image: linear-gradient(to right, $sand6, $sand7, $sand6);
    border: 0;
    height: 1px;
    margin: .5rem 0 1rem;
  }

  .Headshot {
    border-radius: 50%;
    border: 3px solid $fontColorBlack;
    width: 150px;
    overflow: hidden;
    aspect-ratio: 1;
  }



  .LogoScroll {
    max-width: $contentWidth;
    // overflow-x: scroll;
    aspect-ratio: 1500/330;
    margin: $margin 0;

    >div {
      width: auto;
      aspect-ratio: 1500/330;
      position: relative;
      // display: grid;
      // grid-template-columns: 1fr 1fr;
      // grid-template-rows: 1fr;

      >* {
        display: inline-block;
        // overflow-x: scroll;
      }
    }
  }
}