@import "vars";

.Nav {
  position: sticky;
  top: 0px;
  background-color: $offWhite;
  height: $navHeight;

  ul {
    list-style: none;
    display: grid;
    grid: 1fr 1fr 1fr / 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;

    li {
      padding: 1rem 1.5rem;
      border-bottom: 1px solid $black;

      a {
        text-decoration: none;
        color: $black;
        font-size: clamp(1.0875rem, 1vw, 1.125rem);
        font-style: italic;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;

        &:hover {
          color: $black;
        }
      }
    }
  }
}